<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kludoteca" version="1">
<MenuBar>
  <Menu name="Actions"><text>A&amp;ctions</text>
    <Action name="Action1" />
  </Menu>
</MenuBar>
</kpartgui>
